/* FONTS IMPORTS */

@font-face{
    font-family: Righteous;
    src: url(../fonts/righteous.regular.ttf);
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

/* NAVBAR - HEADER STYLES */

.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar{
    background-color:  #009688;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.maitefy_logo, h1{
    margin: auto 0.25rem;
}

.navbar .maitefy_logo{
    width: 37px;
    height: 33px;
}

.navbar h1{
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

/* LOGIN STYLES */

.logIn-h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
}

.not-remember-pass-container{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #009688;
}

.not-account{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #C4C4C4;
}

